<main role="main" class="container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron box-shadow">
    <div class="container">
      <h1 class="display-3">The best weather on earth!</h1>
      <p>Use the OpenWeather JSON API and create a simple page to show which weather station (or city) has the most convenient weather in terms of temperature and humidity (the ideal is 21°C, 50%). Below the winning weather station, show the following leading ones.</p>
      <h4>So where's the best weather on earth right now?</h4><br>
      <p><a class="btn btn-info btn-lg" href="javascript: void(0)" [routerLink]="['/list']" role="button">Find out now &raquo;</a></p>
    </div>
  </div>
</main>
